<div class="form-container">
    <input type="text" name="movie" id="new-movie-input" class="new-movie-input"
           data-bind="
                attr: {
                    placeholder: $t('Add new movie...')
                },
                value: newMovieLabel,
                event: {'keyup': checkKey}
    ">
    <div class="actions-toolbar">
        <div class="primary">
            <button type="button" class="action primary save" id="add-new-movie-button"
                data-bind="
                    i18n: 'Add movie!',
                    attr: {
                        title: $t('Add new movie')
                    },
                    click: addMovie
            ">
            </button>
        </div>
    </div>
</div>

<!-- ko if: $data.movies -->
<p><em>Using KO repeat data binding</em></p>
<ul class="movies">
    <li repeat="foreach: movies, item: 'movie'">
        <a data-bind="
            attr: {
              class: 'status ' + (movie().status ? ' is-complete' : ' is-incomplete'),
              'data-id': movie().id,
              title: (movie().status ? 'Completed' : 'Not seen')
            },
            click: switchStatus
        "></a>
        <span class="label" data-bind="i18n: movie().label"/>
        <a href="#" data-bind="
            i18n: 'Delete',
            attr: {
                'data-id': movie().id
            },
            click: deleteMovie.bind($data, movie().id)
        "></a>
    </li>
</ul>

<p><em>Using KO native foreach</em></p>
<ul class="movies" data-bind="foreach: {data: movies2(), as: 'movie'}">
    <li>
        <a href="#" data-bind="
            attr: {
              class: 'status ' + (movie.status ? ' is-complete' : ' is-incomplete'),
              'data-id': movie.id,
              title: (movie.status ? 'Completed' : 'Not seen')
            },
            click: $parent.switchStatus2
        "></a>
        <span class="label" data-bind="i18n: movie.label"/>
        <a href="#" data-bind="
            i18n: 'Delete2',
            attr: {
                'data-id': movie.id
            },
            click: $parent.deleteMovie2.bind($data, movie.id)
        "></a>
    </li>
</ul>
<!-- /ko -->
<!-- ko ifnot: $data.movies -->
<p data-bind="i18n: 'No movies in your list yet'"></p>
<!-- /ko -->