<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="NicolasBlancoM\WatchingMovies\Api\MovieManagementInterface" type="NicolasBlancoM\WatchingMovies\Service\MovieManagement"/>
    <preference for="NicolasBlancoM\WatchingMovies\Api\MovieRepositoryInterface" type="NicolasBlancoM\WatchingMovies\Service\MovieRepository"/>
    <preference for="NicolasBlancoM\WatchingMovies\Api\Data\MovieInterface" type="NicolasBlancoM\WatchingMovies\Model\Movie"/>
    <preference for="NicolasBlancoM\WatchingMovies\Api\Data\MovieSearchResultInterface" type="NicolasBlancoM\WatchingMovies\Model\ResourceModel\Movie\Collection"/>
</config>